/*** Common ***/

.rounded-30 {
    border-radius: 30px;
}

.fs-0-8 {
    font-size: 0.8rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.m-t-0 {
    margin-top: 0px;
}

.m-y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-1 {
    top: 1rem;
}

.w-100 {
    width: 100%;
}

.border-0 {
    border-width: 0px !important;
}

.p-x-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

/*** Navbar.vue ***/

.border-b-grey-l3 {
    border-bottom: thin solid #eeeeee;
}

.text-theme {
    color: #03a9f4 !important;
}
