/*** Common ***/

.rounded-30 {
    border-radius: 30px;
}

.fs-0-8 {
    font-size: 0.8rem;
}

.fs-1-5 {
    font-size: 1.5rem;
}

.m-t-0 {
    margin-top: 0px;
}

.m-b-1 {
    margin-bottom: 1rem;
}

.m-y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.top-1 {
    top: 1rem;
}

.w-100 {
    width: 100%;
}

.border-0 {
    border-width: 0px !important;
}

.p-x-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.bg-theme {
    background: #fafafa !important;
}

/*** Navbar.vue ***/

.border-b-grey-l3 {
    border-bottom: thin solid #eeeeee;
}

.text-theme {
    color: #03a9f4 !important;
}

.exo-800 {
    font-family: 'Exo', sans-serif;
    font-size: 800;
}


/*** ViewThread.vue ***/
.fw-b {
    font-weight: bold;
}

.m-t-1-125 {
    margin-top: 1.125rem;
}

.fs-1-2 {
    font-size: 1.2rem;
}


/*** Home.vue ***/
.fs-1 {
    font-size: 1rem;
}